@import url("general.css");
.scene .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* empurra conteúdo para a direita */
    text-align: right;
    padding: 20px;
    z-index: 1;
    color: rgb(255, 230, 0);
    font-family: 'font_menu', Arial, sans-serif;
    letter-spacing: 2px;
      margin-right: 50px;
}

.scene .overlay .text {
    max-width: 400px;
}

.scene .overlay h1 {
    margin: 0 0 20px 0;
    font-size: 80px;
    line-height: 1.1;
}

.scene .overlay p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
